---
layout: home
---

<div class="blogroll">

	<section class="section-wrapper">
		<div class="inner">
			<div class="portfolio-container">
				{% for post in site.posts %}
					{% if post.categories contains 'home'%}
						<a class="post-link portfolio-item" href="{{ post.url | prepend: site.baseurl }}">
							<span class="card-image" style="background-image: url({{ post.img | prepend: site.baseurl }});"></span>
							<h3>{{ post.title }}</h3>
							<p>{{ post.exerpt }}</p>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

</div>
