@import url(print.css);
/**
 * @file Style the page ready for printing
 * @author Nick Hurley nick@nickhurley.co.uk
 */
/* line 17, ../../src/sass/print-styles.scss */
.nav-all,
.mini-newsletter,
.banner-footer,
.site-footer,
.button,
.account-subnav,
body:after,
body:before,
.account-mini-nav,
.sectioned-content-nav {
  display: none !important;
}

/* line 24, ../../src/sass/print-styles.scss */
.wrapper,
.overflow-wrapper,
body {
  background: none !important;
}

/* line 29, ../../src/sass/print-styles.scss */
.product-promo {
  margin-top: 0 !important;
}

/* line 32, ../../src/sass/print-styles.scss */
.account-content {
  margin-left: 0 !important;
}

/* line 35, ../../src/sass/print-styles.scss */
.product-listing-banner {
  margin-bottom: 0 !important;
}

/* line 38, ../../src/sass/print-styles.scss */
.main-content {
  z-index: 2 !important;
  position: relative !important;
}

/* line 45, ../../src/sass/print-styles.scss */
.sectioned-content-section,
.sectioned-content-section > *,
.embedded-sectioned-content-section,
.embedded-sectioned-content-section > * {
  position: static !important;
  left: auto !important;
}
/* line 49, ../../src/sass/print-styles.scss */
.sectioned-content-section:after,
.sectioned-content-section > *:after,
.embedded-sectioned-content-section:after,
.embedded-sectioned-content-section > *:after {
  display: none !important;
}
