
.portfolio-container{
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;

	-webkit-box-shadow: inset -9px 0px 10px -8px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset -9px 0px 10px -8px rgba(50, 50, 50, 0.75);
	box-shadow:         inset -9px 0px 10px -8px rgba(50, 50, 50, 0.75);


	.portfolio-item{
		display: inline-block;
		border: 1px solid $primaryHighlight;
		margin: 1rem;
		border-radius: 0.2rem;
		border-bottom: 0.5rem solid $primaryHighlight;
		min-height: 500px;
		min-width: 225px;
		position: relative;
		background: white;

		&:hover{
			-webkit-box-shadow: 7px 7px 0px 0px rgb(228, 228, 228);
			-moz-box-shadow:    7px 7px 0px 0px rgb(228, 228, 228);
			box-shadow:         7px 7px 0px 0px rgb(228, 228, 228);
			top: -7px;
			left: -7px;
		}

		&:active{
			-webkit-box-shadow: 0px 0px 0px 0px rgb(228, 228, 228);
			-moz-box-shadow:    0px 0px 0px 0px rgb(228, 228, 228);
			box-shadow:         0px 0px 0px 0px rgb(228, 228, 228);
			top: 0px;
			left: 0px;
		}

	}
}
