<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page page-home">
	<div class="site-wrapper">
	    {% include header.html %}
		<div class="background logo">
			zweck
		</div>
		<div class="hero">
                    <div class="about">Software developer, build apps in <strong>NodeJS</strong> and <strong>React</strong>, also build native iOS apps in Swift. <br /> Emacs user. Crypto currency maximalist. Love photography.</div>
			<!--{% include contact.html %}-->
			<div class="home-links-container">
				<ul class="home-links-wrapper">
					<li class="home-links">
						<a href="https://unsplash.com/@pjhauser" target="_blank">
							<p class="title">Photography</p>
							<p class="subtitle">Checkout my unsplash</p>
						</a>
					</li>
					<li class="home-links">
						<a href="/blog/">
							<p class="title">Blog</p>
							<p class="subtitle">What interests me</p>
						</a>
					</li>
					<li class="home-links">
						<a href="/work/">
							<p class="title">Work</p>
							<p class="subtitle">What I've been up to</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="page-content">
	      <div class="wrapper">
	        {{ content }}
	      </div>
	    </div>

	    {% include footer.html %}
	</div>

	<script src="js/app.js"></script>
  </body>
</html>
